/* Popiular
--------------------------------------------------- */
p {
	margin-top: 0;
}

/* Header
--------------------------------------------------- */
.fusion-header-wrapper,
.fusion-header-wrapper.fusion-is-sticky {
	z-index: 9999;
	.fusion-header {
		background-color: #262626 !important;
		height: 56px !important;
		z-index: 9999;
		div.fusion-logo {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.fusion-main-menu .fusion-menu {
			margin-top: 11px;
			li {
				padding-right: 30px;
				&:last-child {
					padding-right: 0;
				}
				a {
					border-top-width: 0;
					line-height: 34px !important;
					height: 34px !important;
				}
			}
			li.about,
			li.register {
				padding-right: 15px;
				a {
					padding: 0 20px;
					background-color: #00afec;
					border-radius: 3px;
				}
				&:hover a {
					color: #333;
				}
			}
			li.register {
				a {
					background-color: #ff9800;
				}
			}
		}
	}
}

/* Footer
--------------------------------------------------- */
.before-footer {
	background: #2f3336; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e2429 0%, #1e2429 22%, #2f3336 22%, #2f3336 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e2429), color-stop(22%,#1e2429), color-stop(22%,#2f3336), color-stop(100%,#2f3336)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e2429 0%,#1e2429 22%,#2f3336 22%,#2f3336 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e2429 0%,#1e2429 22%,#2f3336 22%,#2f3336 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e2429 0%,#1e2429 22%,#2f3336 22%,#2f3336 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e2429 0%,#1e2429 22%,#2f3336 22%,#2f3336 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2429', endColorstr='#2f3336',GradientType=0 ); /* IE6-9 */
	.fusion-one-fifth {
		width: 22%;
		background-color: #00afec;
		.fusion-imageframe {
			margin-bottom: -198px;
		}
		.fusion-social-links {
			position: relative;
			z-index: 1;
			margin-top: 20px;
			a {
				color: #FFF !important;
			}
		}
		p {
			position: relative;
			z-index: 1;
			padding: 0 10px;
			color: #FFF;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 3px;
		}
		.fa {
			margin-right: 5px;
			width: 11px;
		}
	}
	.fusion-four-fifth {
		width: 74%;
		.fusion-title:nth-child(1), .fusion-button-wrapper {
			float: left;
			width: 50%;
		}
		.fusion-title:nth-child(3) {
			clear: both;
			padding: 64px 0 0 0;
			margin: 0 0 0 0;
		}
		.fusion-title {
			padding: 15px 0;
		}
		.fusion-button-wrapper {
			margin-left: 0;
			padding: 16px 0;
			.button-large {
				padding: 29px 30px;
				font-size: 55px;
			}
		}
		.wpcf7 {
			padding: 10px;
			margin-bottom: 52px;
			border-radius: 18px;
			background: #535f69;
			p {
				margin: 0;
				.wpcf7-not-valid-tip, .ajax-loader {
					display: none;
				}
				input[type=email] {
					width: calc(100% - 130px) !important;
					background-color: transparent;
					border: none;
					padding: 0;
				}
				input[type=submit] {
					padding: 11px 23px;
					border-radius: 18px;
					background: #00afec;
				}
			}
		}
	}
	
}

/* Shortcodes
--------------------------------------------------- */
// Button
#wrapper .fusion-button.button-xlarge.button-pill {
	font-size: 50px;
	font-weight: 300;
	text-transform: none;
	padding: 30px 25px;
	border-radius: 90px !important;
}
// Title
.fusion-title {
	h2 {
		font-weight: 300 !important;
	}
}
// Content Box
.fusion-content-boxes {
	.heading {
		margin-bottom: 10px;
	}
}
.content-box-2.fusion-content-boxes {
	.content-box-column {
		.heading {
			overflow: inherit;
			.image {
				position: relative;
				img {
					z-index: 1;
					position: relative;
				}
				&:before {
					content: '';
					background: url(../images/content-box-separator.png);
					width: 100%;
					height: 4px;
					max-width: 280px;
					position: absolute;
					right: -150px;
					top: 50%;
					margin-top: -8px;
					display: block;
				}
			}
		}
	}
	.content-box-column.col-sm-4:nth-child(4) .heading .image:before {
		display: none;
	}
}
// Testimonials
.fusion-testimonials {
	.review {
		.testimonial-thumbnail {
			position: relative;
			z-index: 9;
			margin-bottom: 3px;
			img {
				border-radius: 90px;
				overflow: hidden;
				border: 4px solid #fff;
			}
			&:after {
				content: "";
				background: url(../images/testimonial-bg-avada.png) no-repeat;
				width: 231px;
				height: 231px;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}
		blockquote, 
		blockquote * {
			background: none !important;
			color: #fff !important;
			z-index: 1;
			position: relative;
		}
		.author {
			display: none;
		}
	}
	.testimonial-pagination {
		margin-top: 10px;
		a {
			background: #fff;
			border: 0;
			width: 50px;
			height: 5px;
			border-radius: 0;
			margin-right: 15px;
			&:hover {
				background: #00afec !important;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		.activeSlide {
			background: #00afec !important;
		}
	}
}

/* Popup
--------------------------------------------------- */
.register-web-popup.hide-opacity {
	opacity: 0;
}
.register-web-popup.hide-display {
	display: none;
}
.register-web-popup {
	background-color: #fff;
	position: fixed;
	left: 50%;
	top: 20%;
	width: 100%;
	max-width: 900px;
	margin-left: -450px;
	z-index: 9999 !important;
	.popup-title {
		background: #0083ca;
		padding:20px 0;
		position: relative;
		h3 {
			margin: 0;
			color: #fff;
			font-weight: normal;
			font-size: 170%;
			text-align: center;
		}
		.popup-close {
			position: absolute;
			right: 20px;
			top: 15px;
			font-size: 45px;
			color: #fff;
			cursor: pointer;
		}
	}
	.popup-content {
		padding: 20px;
		color: #333333;
		.text-mobile {
			padding-top: 15px;
			i {
				color: #0083ca;
				margin-right: 5px;
			}
			span {
				font-size: 16px;
				font-weight: 400;
			}
		}
		.form-dk {
			padding: 6px 18px 20px;
			background: #f4f4f4;
			border-radius: 3px;
			overflow: hidden;
			p {
				margin-bottom: 15px;
			}
			strong {
				color: #ff0000;
			}
			.wpcf7-not-valid-tip {
				position: absolute;
				right: 0;
				top: -35px;
			}
			.wpcf7-validation-errors {
				padding: 10px 20px;
			}
			input, select{
				border: none;
				background: #d4d4d4;
				color: #222;
			}
			.wpcf7-form-control-wrap .wpcf7-select-parent .select-arrow {
				background: #D4D4D4 !important;
				color: #222;
			}

			.button-submit {
				overflow: hidden;
				float: right;
				i {
					float: right;
					color: #fff;
					padding-right: 9px;
					line-height: 43px;
					background: #0083ca;
					transition: all .2s;
					transition-property: all;
					transition-duration: 0.2s;
					transition-timing-function: initial;
					transition-delay: initial;
					-webkit-transition: all .2s;
					-moz-transition: all .2s;
					-ms-transition: all .2s;
					-o-transition: all .2s;
				}
				input[type=submit] {
					background: #0083ca;
					text-transform: inherit;
					font-size: 18px;
					padding-right: 15px;
					border-radius: 0;
					color: #fff;
					float: right;
				}
				img {
					display: none;
				}
				&:hover {
					i , input[type=submit] {
						background: #ff9600;
						background-image: -webkit-gradient( linear, left bottom, left top, from( #dd8f00 ), to( #ff9600 ) );
						background-image: -webkit-linear-gradient( bottom, #dd8f00, #ff9600 );
						background-image: -moz-linear-gradient( bottom, #dd8f00, #ff9600 );
						background-image: -o-linear-gradient( bottom, #dd8f00, #ff9600 );
						background-image: linear-gradient( to top, #dd8f00, #ff9600 );
					}
				}
			}
		}
	}
}




