/* Header
--------------------------------------------------- */
/* line 3, ../sass/main-style.scss */
.fusion-header-wrapper {
  z-index: 999;
}

/* Blog
--------------------------------------------------- */
/* Blog - Medium 1 */
/* line 11, ../sass/main-style.scss */
.blog-medium-1 #posts-container > div.fusion-post-medium {
  width: 48%;
  margin-right: 4%;
  float: left;
  clear: none;
}
/* line 16, ../sass/main-style.scss */
.blog-medium-1 #posts-container > div.fusion-post-medium > .fusion-flexslider {
  max-width: 45%;
}
/* line 20, ../sass/main-style.scss */
.blog-medium-1 #posts-container > div.fusion-post-medium:nth-child(2n) {
  margin-right: 0;
}

/* Shop Page
--------------------------------------------------- */
/* Hover Effect */
/* line 29, ../sass/main-style.scss */
.woo-thumb-hover-effect-hover-zoom .products .product .product-images {
  overflow: hidden;
}
/* line 32, ../sass/main-style.scss */
.woo-thumb-hover-effect-hover-zoom .products .product .product-images img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 39, ../sass/main-style.scss */
.woo-thumb-hover-effect-hover-zoom .products .product:hover .product-images img {
  width: 110%;
  -webkit-transition: scale(1.2);
  -moz-transition: scale(1.2);
  -o-transition: scale(1.2);
  -ms-transition: scale(1.2);
  transform: scale(1.2);
}

/* line 49, ../sass/main-style.scss */
.woo-thumb-click-effect-popup .product-images {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 60px;
  height: 60px;
}
/* line 57, ../sass/main-style.scss */
.woo-thumb-click-effect-popup .product-images.popup-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 8;
}

/* Click Effect */
/* line 68, ../sass/main-style.scss */
.woo-thumb-click-effect-popup-gallery-zoom .products .product .product-images,
.woo-thumb-click-effect-popup-gallery .products .product .product-images {
  min-height: 0 !important;
}

/* Filter */
/* line 74, ../sass/main-style.scss */
.rt-filter-categories {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 0;
}
/* line 79, ../sass/main-style.scss */
.rt-filter-categories form > * {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 84, ../sass/main-style.scss */
.rt-filter-categories .rt-filter-search {
  max-width: 200px;
  height: 33px;
}
/* line 88, ../sass/main-style.scss */
.rt-filter-categories .gravity-select-parent {
  min-width: 200px;
}
/* line 91, ../sass/main-style.scss */
.rt-filter-categories .rt-filter-submit {
  margin: 0;
  color: #fff;
  border: 0;
  border-radius: 2px;
}

/* Woocommerce Template: classic-1 */
/* line 102, ../sass/main-style.scss */
.woo-style-classic-1 .products > li .product-details .product-title {
  text-align: center;
}
/* line 105, ../sass/main-style.scss */
.woo-style-classic-1 .products > li .product-details .price, .woo-style-classic-1 .products > li .product-details .sku, .woo-style-classic-1 .products > li .product-details .stock-status {
  text-align: center;
  display: block;
  width: 100%;
}
/* line 110, ../sass/main-style.scss */
.woo-style-classic-1 .products > li .product-details .product-details-container {
  padding-bottom: 0;
}
/* line 113, ../sass/main-style.scss */
.woo-style-classic-1 .products > li .product-details .entry-desc, .woo-style-classic-1 .products > li .product-details .star-rating {
  display: none;
}

/* Woocommerce Template: classic-2 */
/* line 121, ../sass/main-style.scss */
.woo-style-classic-2 .products > li .product-details .entry-desc, .woo-style-classic-2 .products > li .product-details .star-rating {
  display: none;
}
/* line 124, ../sass/main-style.scss */
.woo-style-classic-2 .products > li .product-details .product-title {
  text-align: center;
}
/* line 127, ../sass/main-style.scss */
.woo-style-classic-2 .products > li .product-details .price {
  text-align: center;
  display: block;
  width: 100%;
}
/* line 133, ../sass/main-style.scss */
.woo-style-classic-2 .products > li .product-buttons {
  display: none;
}

/* Woocommerce Template: classic-3 */
/* line 140, ../sass/main-style.scss */
.woo-style-classic-3 .products > li .product-details .entry-desc {
  display: none;
}
/* line 143, ../sass/main-style.scss */
.woo-style-classic-3 .products > li .product-details .product-title {
  text-align: center;
}
/* line 146, ../sass/main-style.scss */
.woo-style-classic-3 .products > li .product-details .price {
  text-align: center;
  display: block;
  width: 100%;
}
/* line 153, ../sass/main-style.scss */
.woo-style-classic-3 .products > li .product-buttons .add_to_cart_button {
  display: none;
}
/* line 156, ../sass/main-style.scss */
.woo-style-classic-3 .products > li .product-buttons .star-rating {
  float: left;
}

/* Single Product
--------------------------------------------------- */
/* Single Product - Thumbnail Design */
/* line 166, ../sass/main-style.scss */
.thumb-design-vertical .product .images {
  width: 500px;
}
/* line 168, ../sass/main-style.scss */
.thumb-design-vertical .product .images #carousel {
  width: 100px;
  float: right;
}
/* line 171, ../sass/main-style.scss */
.thumb-design-vertical .product .images #carousel ul.slides > li {
  float: none !important;
  margin-bottom: 10px;
  max-height: 120px;
  overflow: hidden;
  opacity: 1 !important;
  width: 100px !important;
}
/* line 180, ../sass/main-style.scss */
.thumb-design-vertical .product .images #slider {
  float: left;
  width: 290px;
}
/* line 185, ../sass/main-style.scss */
.thumb-design-vertical .product .summary.entry-summary {
  margin-left: 530px;
}

/* line 191, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .images {
  width: 420px;
}
/* line 193, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .images #carousel {
  width: 100px;
}
/* line 196, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .images #slider {
  float: left;
  width: 290px;
}
/* line 201, ../sass/main-style.scss */
.thumb-design-vertical.has-sidebar .product .summary.entry-summary {
  margin-left: 450px;
}

/* Widgets
--------------------------------------------------- */
/*.sidebar * {
	max-width: 100%;
}*/
/* Black Studio TinyMCE */
/* line 213, ../sass/main-style.scss */
.widget_black_studio_tinymce > .textwidget iframe {
  max-width: 100%;
}

/* Banner Ads
--------------------------------------------------- */
/* line 219, ../sass/main-style.scss */
#main > .fusion-row, body {
  position: relative;
}

/* line 223, ../sass/main-style.scss */
#main > .fusion-row .rt-ads-left,
#main > .fusion-row .rt-ads-right {
  position: absolute;
}

/* Three Plugin
--------------------------------------------------- */
/* Left and Right Ads */
/* line 231, ../sass/main-style.scss */
#divAdLeft,
#divAdRight {
  z-index: 99;
}

/* Magnific Popup */
/* line 237, ../sass/main-style.scss */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 247, ../sass/main-style.scss */
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

/* line 250, ../sass/main-style.scss */
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 255, ../sass/main-style.scss */
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Owl Carousel */
/* line 260, ../sass/main-style.scss */
.owl-carousel {
  overflow: hidden;
}
/* line 262, ../sass/main-style.scss */
.owl-carousel .owl-nav > div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 30px;
  height: 60px;
  font-size: 30px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 278, ../sass/main-style.scss */
.owl-carousel .owl-nav > div.owl-prev {
  top: 50%;
  left: -30px;
  margin-top: -30px;
}
/* line 283, ../sass/main-style.scss */
.owl-carousel:hover .owl-nav > div.owl-prev {
  left: 0;
}
/* line 286, ../sass/main-style.scss */
.owl-carousel .owl-nav > div.owl-next {
  right: -30px;
  bottom: 50%;
  margin-bottom: -30px;
}
/* line 291, ../sass/main-style.scss */
.owl-carousel:hover .owl-nav > div.owl-next {
  right: 0;
}

/* RCarousel Master */
/* line 297, ../sass/main-style.scss */
.rcarousel-master-parrent {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
/* line 301, ../sass/main-style.scss */
.rcarousel-master-parrent > a {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 60px;
  height: 30px;
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 317, ../sass/main-style.scss */
.rcarousel-master-parrent > a#ui-carousel-next {
  top: -30px;
  left: 50%;
  margin-left: -30px;
}
/* line 322, ../sass/main-style.scss */
.rcarousel-master-parrent:hover > a#ui-carousel-next {
  top: 0;
}
/* line 325, ../sass/main-style.scss */
.rcarousel-master-parrent > a#ui-carousel-prev {
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
}
/* line 330, ../sass/main-style.scss */
.rcarousel-master-parrent:hover > a#ui-carousel-prev {
  bottom: 0;
}

/* Loading
--------------------------------------------------- */
@-webkit-keyframes uil-ring-anim {
  /* line 338, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 345, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  /* line 354, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 361, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  /* line 370, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 377, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes uil-ring-anim {
  /* line 386, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 393, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  /* line 402, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 409, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  /* line 418, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 425, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes uil-ring-anim {
  /* line 434, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 441, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  /* line 450, ../sass/main-style.scss */
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 457, ../sass/main-style.scss */
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 465, ../sass/main-style.scss */
.loading {
  background: none;
  position: relative;
  width: 10px;
  height: 10px;
  transform: scale(0.1);
  opacity: 0;
  display: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 479, ../sass/main-style.scss */
.loading.enable {
  opacity: 1;
  display: inline-block;
}

/* line 483, ../sass/main-style.scss */
.loading > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #cec9c9;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
