/* Widgets
--------------------------------------------------- */
/* widget - support */
.supporter-info {
	padding-top: 150px;
	background: url(../images/bg-support.png) top center no-repeat,url(../images/bg-sub.png) center bottom no-repeat;
	background-size: contain;
}
.supporter-info .supporter {
	margin: 0 12px;
}
.supporter-info .supporter .info .phone, .supporter-info .supporter .online .skypeassets {
	display: block;
	padding: 6px 0 4px 2px;
	color: #ba0001;
	font-family: Arial;
	font-size: 21.23px;
	font-weight: 600;
	position: relative;
	border-bottom: 1px solid #fff;
}
.supporter-info .supporter .online .skypeassets:last-child{
	border-bottom: none;
}
.supporter-info .supporter .info .phone a, .supporter-info .supporter .online .skypeassets a {
	color: #fff;
}
.supporter-info .supporter .info .phone:before, .supporter-info .supporter .online .skypeassets:before{
	content: "\f10b";
	font: normal normal normal 23px/1 FontAwesome;
	margin: 0 0 0 5px;
	height: 29px;
	width: 29px;
	display: inline-block;
	line-height: 29px;
}
.supporter-info .supporter .info .phone:nth-child(2):before {
	content: "\f1ac";
	font-size: 15px;
}
.supporter-info .supporter .online .skypeassets {
	font-size: 13px;
	margin: 0;
}
.supporter-info .supporter .online .skypeassets:before {
	content: "\f17e";
	font-size: 15px;
}
.supporter-info .supporter .online .skypeassets a {
	display: inline-block;
	font-size: 13px;
	color: #ba0001;
	font-family: Arial;
	font-weight: 300;
}