/* RT Blog
--------------------------------------------------- */
/* line 5, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode article .entry-title {
  margin-top: 0;
}

/* line 12, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-1 article.has-post-thumbnail .entry-thumb {
  float: left;
  width: 50%;
  padding-right: 5px;
}
/* line 17, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-1 article.has-post-thumbnail .entry-content {
  float: left;
  width: 50%;
  padding-left: 5px;
}

/* line 25, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-2 article {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
/* line 30, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-2 article > .post-inner .entry-thumb {
  float: left;
  width: 25%;
  padding-right: 10px;
}
/* line 38, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-2 article.not-first .entry-title {
  margin-bottom: 0;
}

/* line 44, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article {
  margin-bottom: 10px;
}
/* line 47, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article > div {
  width: 50%;
  float: left;
}
/* line 51, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article > div.first {
  padding-right: 10px;
}
/* line 54, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-3 article > div.not-first {
  padding-left: 10px;
}

/* line 59, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-4 article {
  margin-bottom: 20px;
  width: 33.33%;
  float: left;
}
/* line 63, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-4 article:after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
}
/* line 69, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-4 article > .post-inner {
  padding: 10px;
}
/* line 71, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-4 article > .post-inner .entry-thumb > a {
  display: block;
  line-height: 0;
  margin-bottom: 10px;
}
/* line 78, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-4 > .entry-continue {
  float: right;
}

/* line 83, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-5 article {
  clear: both;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
/* line 88, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-5 article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
/* line 93, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-5 article .post-inner .entry-thumb {
  float: left;
  margin-right: 20px;
}
/* line 97, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-5 article .post-inner:after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
}

/* line 108, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-6 article:first-child {
  width: 50%;
  float: left;
  padding: 0 20px 0 0;
}
/* line 112, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-6 article:first-child > .post-inner > .entry-thumb > a {
  display: block;
  line-height: 0;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
/* line 118, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-6 article:first-child > .post-inner > .entry-thumb > a img {
  width: 100%;
}
/* line 124, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-6 article.not-first {
  float: left;
  width: 50%;
  margin: 0 0 15px;
}
/* line 128, ../../sass/shortcodes/rt-rtblog.scss */
.rt-blog-shortcode.style-6 article.not-first > .post-inner > .entry-thumb > a {
  width: 21%;
  height: auto;
  padding: 4px;
  border: 1px solid #ccc;
  display: block;
  line-height: 0;
  float: left;
  margin-right: 15px;
  background: #fff;
}
